
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read and write access for all users.
      // In a production app, you would restrict this based on user authentication.
      allow read, write: if true;
    }
  }
}
